.cart-score {
  margin: 0 0 25px 0;
  padding: 25px 0 0 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--catalog_plus);
    top: 39px;
    right: 124px;

    @media (min-width: 768px) {
      width: 60px;
      top: 82px;
      right: 131px;
    }

    @media (min-width: 1440px) {
      top: 81px;
      right: 92px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--catalog_plus);
    transform: rotate(90deg);
    top: 39px;
    right: 124px;

    @media (min-width: 768px) {
      width: 60px;
      top: 81px;
      right: 130px;
    }

    @media (min-width: 1440px) {
      top: 81px;
      right: 90px;
    }
  }
}


.cart-score__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--black_light);
  text-transform: uppercase;
  font-weight: normal;
  margin: 53px 0 0 39px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 22px;
    width: 134px;
    margin: 136px 0 0 96px;
    text-align: center;
  }

  @media (min-width: 1440px) {
    margin: 136px 0 0 55px;
  }
}


.cart-score__subtitle {
  margin: 8px 0 0 0;
  text-align: center;

  @media (min-width: 768px) {
    margin: 24px 0 0 79px;
    text-align: center;
    width: 167px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: 1440px) {
    margin: 24px 0 0 38px;
  }
}


.cart-score__link {
  color: var(--special_dark-grey);
  border: none;
  background-color: var(--basic_grey);
  position: absolute;
  width: 279px;
  min-height: 40px;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  bottom: -61px;

  @media (min-width: 768px) {
    bottom: -127px;
    width: 249px;
    left: 38px;

    &:hover {
      background-color: var(--stroke_grey);
    }

    &:focus {
      opacity: 0.4;
    }
  }

  @media (min-width: 1440px) {
    width: 169px;
    bottom: -125px;
    left: 37px;
  }
}
