.comments {
  display: flex;
  flex-direction: column;
  margin: 0 0 23px 0;
}


.comments__heading {
  font-size: 24px;
  line-height: 26px;
  margin: 0 0 37px 0;
}


.comments__field {
  color: var(--special_dark-grey);
}
