.comments {
  margin: 0 0 20px;
  border: none;
  position: relative;

  @media (min-width: 768px) {
    margin: 46px 0 64px -20px;
  }
}


.comments__wrapper {
  display: flex;
  flex-direction: column;

  &::after {
    content: "";
    position: absolute;
    width: 156px;
    height: 2px;
    top: 15px;
    left: 164px;
    background-color: var(--basic_green);
  }

  @media (min-width: 768px) {
    &::after {
      content: "";
      position: absolute;
      width: 478px;
      height: 2px;
      top: 23px;
      left: 240px;
      background-color: var(--basic_green);
    }

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      top: 23px;
      left: -49px;
      background-color: var(--basic_green);
    }
  }

  @media (min-width: 1440px) {
    &::after {
      width: 1108px;
      top: 24px;
      left: 242px;
    }

    &::before {
      width: 70px;
      top: 24px;
      left: -90px;
    }
  }
}


.comments__heading {
  font-size: 24px;
  line-height: 26px;
  margin: 0 0 37px 20px;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 77px 20px;
  }
}


.comments__field {
  color: var(--special_dark-grey);
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  padding: 10px 0 0 15px;
  width: 266px;
  min-height: 141px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 611px;
    min-height: 163px;
    margin: 0 0 0 24px;
    font-size: 20px;
    line-height: 30px;

    &:hover {
      border-color: var(--example_line);
    }
  }

  @media (min-width: 1440px) {
    width: 1199px;
    min-height: 164px;
  }
}
