.example {
  background-color: var(--background_grey);
  width: 100%;
  padding-bottom: 34px;
  display: grid;
  justify-content: center;

  @media (min-width: 768px) {
    position: relative;
    width: 100%;
    background-color: var(--white);
    padding: 0;
    display: block;
  }

  @media (min-width: 1440px) {
    width: 100%;
  }
}


.example__wrapper {
  max-width: 320px;

  @media (min-width: 768px) {
    max-width: 100%;
  }

  @media (min-width: 1440px) {
    background-color: var(--basic_grey);
  }
}


.example__picture-wrapper {
  @media (min-width: 768px) {
    width: 100%;
    background-color: var(--background_grey);
  }
}


.example__box {
  @media (min-width: 768px) {
    width: 100%;
  }

  @media (min-width: 1440px) {
    width: 1440px;
    margin: 0 auto;
  }
}


.example__heading {
  margin: 0;
  padding: 27px 0 16px 20px;
  font-size: 36px;
  line-height: 40px;
  font-stretch: condensed;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    margin: 43px auto 0 auto;
    padding: 0;
    width: 708px;
  }

  @media (min-width: 1440px) {
    width: 1220px;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin-top: 69px;
    margin-bottom: 75px;
  }
}


.example__picture-box {
  @media (min-width: 768px) {
    position: relative;
    min-height: 462px;
    background-color: var(--background_grey);
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    min-height: 0;
    width: 1440px;
  }
}


.example__slider-image {
  margin: 40px 0 29px 0;

  @media (min-width: 768px) {
    width: 677px;
    height: 520px;
    position: absolute;
    top: -213px;
    left: 46px;
  }

  @media (min-width: 1440px) {
    top: -694px;
    left: 679px;
  }
}


.example__button-past {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  margin-left: 57px;
  font-stretch: condensed;
  background-color: transparent;
  font-family: inherit;

  @media (min-width: 768px) {
    position: absolute;
    bottom: 67px;
    left: 98px;
    font-size: 20px;
    line-height: 30px;
    border-bottom: dotted;
    padding: 0;
    margin: 0;

    &:hover {
      border-bottom: 1px solid rgba(00, 00, 00, 0.4);
    }

    &:focus {
      border: none;
    }
  }

  @media (min-width: 1440px) {
    left: 759px;
  }
}


.example__button-future {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  margin-left: 104px;
  font-stretch: condensed;
  background-color: transparent;
  font-family: inherit;

  @media (min-width: 768px) {
    position: absolute;
    bottom: 67px;
    left: 617px;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    border-bottom: dotted;

    &:hover {
      border-bottom: 1px solid rgba(00, 00, 00, 0.4);
    }

    &:focus {
      border: none;
    }
  }

  @media (min-width: 1440px) {
    left: 1278px;
  }
}
