.example {
  background-color: var(--background_grey);
  width: 320px;

  @media (min-width: 768px) {
    width: 708px;
  }

  @media (min-width: 1440px) {
    width: 1219px;
  }
}


.example__heading {
  margin: 0;
  margin-bottom: 33px;
  font-size: 36px;
  line-height: 40px;
}


.example__slider-image {
  margin-bottom: 20px;
}


.example__button-past,
.example__button-future {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
}
