.health {
  margin-top: 27px;
  width: 280px;

  @media (min-width: 768px) {
    width: 708px;
  }

  @media (min-width: 1440px) {
    width: 1219px;
  }
}


.health__heading {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}


.health__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
  }
}


.health__item {
  margin-bottom: 25px;
  color: var(--special_dark-grey);
}
