.main-nav__list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
}


.main-nav__item-link {
  text-decoration: none;
  color: var(--black);
}
