.map {
  position: relative;
}


.map--form {
  background-color: var(--basic_grey);
}


.map__box {
  @media (min-width: 1440px) {
    width: 1440px;
    position: relative;
    margin: 0 auto;
  }
}


.map__wrapper {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  width: 320px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 18px;
  padding: 20px 0 27px 0;

  @media (min-width: 768px) {
    width: 708px;
    padding-bottom: 63px;
  }

  @media (min-width: 1440px) {
    width: 570px;
    position: absolute;
    top: 94px;
    left: 109px;
  }
}


.map__wrapper--form {
  background-color: var(--basic_grey);

  @media (min-width: 1440px) {
    background-color: var(--white);
    margin-left: 50px;
    margin-top: 3px;
  }
}


.map__title {
  width: 140px;
  min-height: 58px;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 8px 0 0 20px;
  font-stretch: condensed;
  font-weight: normal;
  font-family: "Oswald", "Arial", sans-serif;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
    margin: 47px 0 0 40px;
    width: 171px;
  }

  @media (min-width: 1440px) {
    margin: 46px 0 0 81px;
  }
}


.map__adress {
  width: 140px;
  font-size: 14px;
  line-height: 20px;
  margin: 9px 0 0 1px;
  font-family: "Arial", sans-serif;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
    margin: 45px 0 0 295px;
    width: 159px;
    text-align: end;
  }

  @media (min-width: 1440px) {
    margin: 44px 0 0 79px;
    text-align: start;
  }
}


.map__picture {
  width: 100%;

  @media (min-width: 768px) {
    width: 100%;
    min-height: 400px;
  }

  @media (min-width: 1440px) {
    width: 100%;
  }
}


.map__br {
  @media (max-width: 767px) {
    display: none;
  }
}
