.map__wrapper {
  background-color: var(--white);
  display: flex;
  justify-content: space-around;
  width: 320px;

  @media (min-width: 768px) {
    width: 768px;
  }

  @media (min-width: 1440px) {
    width: 570px;
  }
}


.map__title {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0 10px 0;
}


.map__adress {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 10px 0 10px 0;
}
