.offers {
  border: 4px double black;
  margin-top: 52px;
}


.offers__cart {
  background-color: var(--background_grey);
}


.cart__heading {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}


.cart__text {
  color: var(--special_dark-grey);
  font-family: "Arial", sans-serif;
}


.cart__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
  text-transform: uppercase;
}
