.form__wrapper-block {
  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
  }
}


.page-form {
  line-height: 18px;
  font-size: 16px;
  width: 320px;

  @media (min-width: 768px) {
    width: 768px;
  }

  @media (min-width: 1440px) {
    width: 1220px;
  }
}


.page-form__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 37px 0;
}


.page-form__subtitle {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
}
