.page-header {
  font-size: 20px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
}


.page-header__logo {
  text-decoration: none;
  color: var(--black);
  height: 66px;

  @media (min-width: 768px) {
    height: 76px;
  }

  @media (min-width: 1440px) {
    height: 107px;
  }
}
