.page-catalog {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}


.page-catalog__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  margin: 27px 0 49px 0;
}


.page-catalog__list {
  list-style: none;
  padding: 0;
}
