.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  color: var(--black);
  min-height: 100%;
  position: relative;

  @media (min-width: 1440px) {
    margin: 0 auto;
  }
}
