.page-footer {
  border: 4px double black;
  background-color: var(--basic_grey);
  width: 320px;

  @media (min-width: 768px) {
    width: 768px;
  }

  @media (min-width: 1440px) {
    width: 1220px;
  }
}


.page-footer__social {
  list-style: none;
  margin: 0;
  padding: 0;
}


.page-footer__footer-logo,
.page-footer__copyright-link {
  text-decoration: none;
}


.page-footer__copyright {
  margin: 0;
}

.page-footer__copyright-link {
  color: var(--special_dark-grey);
}
