.page-main__block {
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 709px;
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 696px;
    background-size: cover;
  }

  &::before {
    @media (min-width: 1440px) {
      grid-column-start: 2;
      grid-row-start: 1;
      content: "";
      background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat/index_cat_background_desktop.jpg");
      background-position: top right;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}


.page-main__heading {
  margin: 0 auto;
  background-color: rgba(104, 183, 56, 0.85);
  color: var(--white);
  height: 302px;

  @media (min-width: 768px) {
    height: 450px;
    background-color: var(--white);
    color: var(--black);
  }
}


.page-main__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  text-align: center;
  padding-top: 31px;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    font-stretch: condensed;
    transform: scale(1);
    padding: 0;
    margin: 61px 0 0 88px;
    text-align: inherit;
  }

  @media (min-width: 1440px) {
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    margin: 223px 0 0 191px;
  }
}


.page-main__subtitle {
  text-transform: uppercase;
  margin: 22px 0 0 0;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
    display: block;
    margin: 40px 0 0 89px;
    font-stretch: condensed;
  }

  @media (min-width: 1440px) {
    margin: 40px 0 0 191px;
  }
}


.page-main__button-program {
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--basic_green);
  color: var(--white);
  padding: 11px 72px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
    padding: 17px 26px;
    font-stretch: condensed;

    &:hover {
      background-color: var(--basic_green2);
    }

    &:focus {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  @media (min-width: 1440px) {
    padding: 17px 24px;
  }
}


.page-main__link {
  margin-top: 139px;
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    margin: 0;
    position: absolute;
    top: 230px;
    left: 83px;
  }

  @media (min-width: 1440px) {
    margin: 0;
    position: absolute;
    top: 455px;
    left: 192px;
  }
}


.page-main__wrapper {
  @media (max-width: 767px) {
    position: relative;
    background-image: url("../img/cat/index_mob_bc-img.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media (min-width: 768px) {
    position: relative;
  }
}


.page-main__picture {
  position: absolute;
  left: 20px;
  top: 168px;
  width: 280px;
  height: 270px;
  background-color: transparent;

  @media (min-width: 768px) {
    width: 709px;
    height: 609px;
    left: 1px;
    top: 200px;
  }

  @media (min-width: 1440px) {
    width: 552px;
    height: 499px;
    position: absolute;
    top: 140px;
    left: 558px;
  }
}
