.page-main__heading {
  margin: 0;
  background-color: var(--basic_green);
  color: var(--white);
  height: 302px;
  width: 320px;

  @media (min-width: 768px) {
    height: 450px;
    background-color: var(--white);
    color: var(--black);
  }

  @media (min-width: 1440px) {
    height: 585px;
  }
}


.page-main__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}


.page-main__subtitle {
  text-transform: uppercase;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: center;
}


.page-main__button-program {
  text-decoration: none;
  background-color: var(--basic_green);
  color: var(--white);
}
