.product-cart {
  margin: 0 0 11px 0;
}


.product-cart__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--special_dark-grey-2);
}


.product-cart__button {
  background-color: var(--basic_green);
  border: none;
  color: var(--white);
}
