.radio {
  color: var(--special_dark-grey-2);
  margin: 0 0 26px 0;
}


.radio__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}


.radio__item {
  margin: 0 0 13px 0;
}
