/* variables */

:root {
  --black: #000000;
  --basic_green: #68b738;
  --basic_green2: #5eaa2f;
  --background_grey: #eaeaea;
  --white: #ffffff;
  --special_dark-grey: #444444;
  --special_dark-grey-2: #222222;
  --basic_grey: #f2f2f2;
  --black_light: #111111;
  --stroke_grey: #e6e6e6;
  --offers_line: #d9d9d9;
  --example_line: #cdcdcd;
  --form_box: #e7e7e7;
  --catalog_plus: #d3d3d3;
  --error: #ff8282;
  --radio: #adb5bd;
  --hover_radio: #bababa;
}
