/* variables */

:root {
  --black: #000000;
  --basic_green: #68b738;
  --background_grey: #eaeaea;
  --white: #ffffff;
  --special_dark-grey: #444444;
  --special_dark-grey-2: #222222;
  --basic_grey: #f2f2f2;
  --black_light: #111111;
  --basic_grey: #f2f2f2;
  --stroke_grey: #e6e6e6;
  --offers_line: #d9d9d9;
  --example_line: #cdcdcd;
}
